<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-button (click)="downloadListAsTextFile()">Pregled dana</button>
  <button mat-button (click)="savePosition()">Spremi stolove</button>
  <button mat-button style="background-color: #3d96e3;" (click)="addTable()">+ Stol</button>
  <button mat-button style="background-color: green;" (click)="addGuest()">+ Gost</button>

  <button mat-button style="background-color: rgb(227, 61, 61);" (click)="openYesNoDialog()">Izbriši</button>
</mat-toolbar>

<div class="example-boundary">

  <div class="example-box" *ngFor="let element of draggableElements" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="onDragEnd($event, element)">
    <input [(ngModel)]="element.name" placeholder="Enter name" class="element-input" style="max-width: 100%; max-height: calc(100% - 40px);" />
    <div class="bottom-row">
      <button mat-button (click)="toggleDrawer(element)" [style.backgroundColor]="element.category === 1 ? '#3d96e3' : 'green'">Dodaj</button>
      <input type="checkbox" style="width: 30px; height: 30px;" (change)="toggleSelection($event, element)">
    </div>
  </div>
</div>


