<!-- warehouse.component.html -->

<div class="header" style="color:white; background-color:blueviolet;" >
  <h2 style="padding-top: 7px;padding-left: 15px;">Warehouse</h2>
  <div class="delete-button-container">
    <button mat-raised-button color="warn" (click)="deleteSelectedItems()">Delete</button>
  </div>
</div>

<div class="input-container">
  <div class="input-group">
    <mat-form-field>
      <input matInput [(ngModel)]="newItem.name" placeholder="Name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="newItem.value" placeholder="Value €" />
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="newItem.quantity" placeholder="Quantity" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
  </div>

  <div class="input-group">
    <mat-form-field>
      <input matInput [(ngModel)]="searchTerm" placeholder="Search by Name" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="searchItems()">Search</button>
  </div>
</div>

<div class="item-grid">
  <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" class="row">
    <div *ngFor="let item of displayedItems" class="item">
      <ng-container *ngIf="item[i]">
        <mat-card>
          <mat-card-content>
            <mat-checkbox (change)="toggleItemSelection(item[i])" [checked]="selectedItems.has(item[i])"></mat-checkbox>
            <p>Name: {{ item[i].name }}</p>
            <p>Quantity: {{ item[i].quantity }}</p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>