<table style="width: 100%;">
  <tbody>
    <tr>
      <th style="width: 50%; vertical-align: top;">
        <div class="input-group">
          <mat-form-field>
            <input matInput [(ngModel)]="searchTerm" placeholder="Search by Name" (input)="searchItems()" />
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="searchItems()">Search</button>
        </div>

        <mat-grid-list cols="3" rowHeight="20:10">
          <mat-grid-tile *ngFor="let item of items; let i = index" (mouseenter)="onMouseEnter(item)" (click)="addToToPayList(item)">
            <div style="height: 100%; width: 100%; display: flex; flex-direction: column; cursor: pointer;" [ngClass]="{'selected-item': selectedItem === item}">
              <span style="width: 100%; margin-left: 4px; font-size: small; flex-shrink: 0;"><b>{{ item.name }}</b></span>
              <span style="width: 100%; margin-left: 4px; font-size: small; flex-shrink: 0;">({{ item.value }} €)</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

      </th>
      <th style="width: 50%; vertical-align: top;">
        <h1>{{customerName}}</h1>
        <table style="width: 100%;">
          <tbody>
            <tr *ngFor="let item of customerData?.items; let i = index" style="width: 100%; font-size: 14px;">
              <td style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                  <span style="margin-right: 5px;">{{ item.name }}</span>
                  <span>({{ item.value }} €)</span>
                </div>
                <div style="display: flex; align-items: center;">
                  <button mat-icon-button (click)="decrementQuantity(item,i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span style="margin: 0 4px;">{{ item.qToPay }}</span>
                  <button mat-icon-button (click)="incrementQuantity(item,i)">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-button (click)="deleteItem(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
        <br>
        <h1>Total: {{ totalValueDisplay }} €</h1>
      </th>
    </tr>
  </tbody>
</table>
