<!-- tabbed-interface.component.html -->
<mat-toolbar color="primary">
    <!-- "+" button to add a new tab -->

    <button mat-button style="background-color: #3d96e3; margin-right: 10px;" (click)="toggleDrawer()">	<mat-icon>settings_ethernet</mat-icon> Kalkulator</button>
    <button mat-button style="background-color: green" (click)="addNewTab()">+ Dodaj prostoriju </button>
    <button mat-button style=" margin-left: 10px;" (click)="getTablesList()">Učitaj prostorije </button>

    <span class="spacer"></span>
      <h3>{{user.username}}</h3>
    <span class="spacer"></span>
    <button *ngIf="user.id === 12" mat-button (click)="register()">Kreiraj korisnika</button>
    <button mat-button style="background-color: #3d96e3;" (click)="openWarehouse()">Skladište</button>
    <button mat-button style="background-color: rgb(227, 61, 61); margin-left: 10px;" (click)="logout()">Odjavi se</button>
  </mat-toolbar>

  <!-- Container div for the mat-tab-group -->
  <div class="tab-container">
    <mat-tab-group [selectedIndex]="getSelectedIndex()" (selectedIndexChange)="onTabChange($event)">
      <mat-tab *ngFor="let tab of tabbedInterfaceService.tabs" [label]="tab.label">
        <ng-container *ngComponentOutlet="tab.content; inputs: { tabId: tab.id }"></ng-container>
        <button mat-button style="background-color: rgb(227, 61, 61);" class="close-button" (click)="openDeleleteDialog(tab)">
          <span style="color: white;">Izbriši prostoriju</span>
        </button>
      </mat-tab>
    </mat-tab-group>
  </div>
